.container {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.title-container {
  padding: 20px 20px 0 20px;
}
.title-container h1 {
  font-size: 24px;
  color: #333;
}
.title-container h3 {
  font-size: 18px;
  color: #666;
}

.layout {
  display: flex;
  flex: 1;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.editor {
  flex: 1;
  padding: 20px;
  border-right: 2px solid #ddd;
  overflow: auto;
}

.preview {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  color: #666;
  overflow: auto;
}
